<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.richardliao.bookmanaging.users.mapper.UserMapper">
  <select id="getUserList" resultType="User">
    select
        id,
	account,
        role_id roleId,
	name,
	address,
	email,
	register_date registerDate
    from user
    <where>
      1=1
      <if test="account != null">and account like concat('%',concat(#{account}, '%'))</if>
      <if test="roleId != null">and role_id like concat('%',concat(#{roleId}, '%'))</if>
      <if test="name != null">and name like concat('%',concat(#{name}, '%'))</if>
    </where>
  </select>
  
  <select id="getUserById" resultType="User">
    select
        id,
	account,
	role_id roleId,
	name,
	address,
	email,
	register_date registerDate
    from user
    where id = #{id}
  </select>
  
  <insert id="add">
    insert into
    user (id, account, password, role_id, name, address, email, register_date)
    values
    (#{id}, #{account}, #{password}, #{roleId}, #{name}, #{address}, #{email}, now())
  </insert>
  
  <update id="update">
    update user
    set
    account = #{account},
    password = #{password},
    role_id = #{roleId},
    name = #{name},
    email = #{email}
    where id = #{id}
  </update>
  
  <delete id="delete">
    delete
    from user
    where id = #{id}
  </delete>
</mapper>
